@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: rgb(247, 246, 247);/*cor de fundo do menu*/
}

h1{
    display: flex;
    justify-content: space-evenly;
    padding-left: 8rem;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    display: flex;
    padding: 10px;/*espaçamento do menu*/
    height: 80hv;
    margin-right:  1rem;
    margin-top: 2rem;
   
    text-decoration: none;
    color: rgb(115, 115, 126);/*cor das letra do menu*/
    
    
}

.menu li:hover{
    cursor: pointer;
    color: black;/*cor da area do clique menu*/
    font-weight: bolder;
}

.box-header{
    background-image: url("img/laranja\ azul\ recorte.png");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h2{
    font-weight: bold;
    color: rgba(255, 248, 248, 0.966);
    font-size: 70px;

    position: flex;
    left: 10%;
    top: 30%;
    transform: translate(2%,30%);
    width: 100%;
}

h6{
    color: rgba(255, 248, 248, 0.966);
    font-size: 20px;
    transform: translate(8%,30%);
}

.titulo1{
    padding: 10vh;/*espaçamento do menu*/
    max-width: 100%;
    color: #ffff;
}

.titulo2{
    display: flex;
    width: 100%;
    height: 10vh;
    color: #ffff;
}

.container-galeria{
    max-width: 1366px;
    margin: 0 auto;
  }

  .box-produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
  }

  .box-produtos img{
      padding: 0.9rem;
      width: 20vw;  
  }

  footer{
      background-color: rgb(240, 237, 237);
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10vh;
      margin-top: 3rem;
  }

  .redes{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    padding-left: 6rem;
  }

  .redes img:hover{
      cursor: pointer; 
  }

h3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50rem;
    max-width: 1rem;
    margin-top: 5vh;   
}

p{  
    display: flex;
    justify-content: space-between;
    width: 50vw;
    padding-left: 3rem;
}