@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: rgb(247, 246, 247);/*cor de fundo do menu*/
}

h1{
    display: flex;
    justify-content: space-evenly;
    padding-left: 8rem;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    display: flex;
    padding: 10px;/*espaçamento do menu*/
    height: 80hv;
    margin-right:  1rem;
    margin-top: 2rem;
   
    text-decoration: none;
    color: rgb(115, 115, 126);/*cor das letra do menu*/
    
    
}

.menu li:hover{
    cursor: pointer;
    color: black;/*cor da area do clique menu*/
    font-weight: bolder;
}

.box-header{
    background-image: url("img/laranja\ azul\ recorte.png");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h2{
    font-weight: bold;
    color: rgba(255, 248, 248, 0.966);
    font-size: 70px;

    position: flex;
    left: 10%;
    top: 30%;
    transform: translate(2%,30%);
    width: 100%;
}

h6{
    color: rgba(255, 248, 248, 0.966);
    font-size: 20px;
    transform: translate(8%,30%);
}

.titulo1{
    padding: 10vh;/*espaçamento do menu*/
    max-width: 100%;
    color: #ffff;
}

.titulo2{
    display: flex;
    width: 100%;
    height: 10vh;
    color: #ffff;
}

.container-galeria{
    max-width: 1366px;
    margin: 0 auto;
  }

  .box-produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
  }

  .box-produtos img{
      padding: 0.9rem;
      width: 20vw;  
  }

  footer{
      background-color: rgb(240, 237, 237);
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10vh;
      margin-top: 3rem;
  }
.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
  color: #fff;
}

h2{
  color: #fff;
}
 #form_contato{
     width: 100%;
     display: flex;
     height: auto;
     justify-content: center;
     align-items: center;
     background-color: #1c3fd2;
     overflow: hidden;
     flex-wrap: wrap;
 }

 #form_contato div{
     width: 60vh;
     height: 100%;
     display: flex;
     justify-content:center;
     align-items: center;
     margin: auto 80px  auto;
     flex-direction: column;
 }

 #form_contato div iframe{
     width: 600px;
     height: 400px;
     transition: all 1.5s ease-in-out;
 }

#form_contato div iframe:hover{
  transform: scale(1,1);
}

#contato_form form{
  width: 600px;
  display: flex;
  aling-items: center;
  text-aling: center;
  color: #fff;
  flex-direction: column;
}

input, textarea{
  width: 600px;
  padding: 15px;
  outline: none;
}

input[type="submit"]{
  width: 600px;
  border-radis: 50px;
  padding: 10px;
  transition: all 0.8s ease;
}
input[type="submit"]houver{
  cursor: ponter;
  opacity: 0.8;
  box-shadow: inset 0 0 15px #000;
}


//*responsivo*//
@media  (max-width: 900px){
  #form_contato div iframe{
    width:350px;
    height:330px;
  }
  
  input, textarea{
    width: 350px;
    padding:10px;
  }
  
  input[type="submit"]{
      width: 220px;
    padding: 7px;
  }
  
}

@media  (max-width: 680px){
  #form_contato div iframe{
    width:300px;
    height:280px;
  }
  
  input, textarea{
    width: 300px;
    padding:8px;
  }
  
  input[type="submit"]{
      width: 300px;
    padding: 5px;
  }
  
}






  .redes{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    padding-left: 6rem;
  }

  .redes img:hover{
      cursor: pointer; 
  }

h3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50rem;
    max-width: 1rem;
    margin-top: 5vh;   
}

p{  
    display: flex;
    justify-content: space-between;
    width: 50vw;
    padding-left: 3rem;
}
